.custom-shape-divider-bottom-1672985419 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1672985419 svg {
  position: relative;
  display: block;
  width: calc(225% + 1.3px);
  height: 89vh;
  transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1672985419 .shape-fill {
  fill: #ffffff;
}